.log_out {
  height: 8%;
  background: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 125, 255, 1) 60%,
    rgba(0, 100, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom-right-radius: 8px;
}
